.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos th {
    background-color: #262672;
    color: #fff
}


.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #00FFcc;
}
